{
    "presets": [
        "@babel/env",
        ["@babel/typescript", { "jsxPragma": "h" }]
    ],
    "resolve": {
        "alias": {
            "react": "preact/compat",
            "react-dom": "preact/compat"
        }
    },
    "plugins": [
        ["inline-react-svg"],
        ["@babel/plugin-transform-runtime"],
        ["@babel/plugin-transform-spread"],
        ["@babel/plugin-transform-react-jsx", {
            "pragma": "h"
        }],
        ["babel-plugin-module-resolver", {
            "root": [
                "./"
            ],
            "alias": {
                "@features": "./features/"
            }
        }]
    ]
}